*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font: bold 12px Arial, Helvetica, sans-serif;
    background-color: black;
}
.clock{
    border: 1px solid floralwhite;
    color: white;
    padding: 40px;
    border-radius: 10px;
    background-color: rgb(43, 63, 0);
}
#Date{
    font-size: 30px !important;
    text-align: center;
}
.clock ul{
    list-style: none;
    display: flex;
    font-size: 80px;
    gap: 15px;
}
